{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{% static 'css/icomoon/style.css'%}" rel="stylesheet" />
    <link href="/static/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/bootstrap.css">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>logeado</title>
    <link href="{% static 'css/logeado.css'%}" rel="stylesheet" />
</head>
<body>
    <div class= "social-bar">
        <a href="https://www.facebook.com/fundacioncolunga/" class="icon icon-facebook2" target="_blank"></a>
        <a href="https://www.instagram.com/fundacioncolunga/?hl=es" class="icon icon-instagram" target="_blank"></a>
        <a href="https://twitter.com/fundcolunga?s=20" class="icon icon-twitter" target="_blank"></a>
        <a href="https://cl.linkedin.com/company/fundaci%C3%B3n-colunga" class="icon icon-linkedin" target="_blank"></a>
    </div>
    <header class="header">
        <div class="container logo-nav-container">
            <div class="logo-col">
                <a href="https://www.fundacioncolunga.org/" class="logo">
                    <img src="{% static 'img/logo1.png'%}" alt="my-img" class="imagen-col">
                </a>
            </div>
            <nav class="navegacion">
                <ul class="show">
                            
                    <li ><a href="../planificador/">
                                <button type="button" class="btn btn-success btn-sm">
                                    <i class="far fa-calendar" ></i></i> Planificador
                                </button>
                            </a>
                    </li>
                    
                    <li>
                        <a href="https://discord.gg/wWpHa88Hx3" target="_blank">
                            <button type="button" class="btn btn-success btn-sm">
                                 <i class="fas fa-comments"></i></i> Sala de chat
                             </button>
                        </a>
                    </li>

                    <li>
                        <a href="../organizaciones/">
                            <button type="button" class="btn btn-success btn-sm">
                                <i class="fas fa-users"></i></i> Organizaciones
                            </button>
                        </a>
                    </li>

                    <li>
                        <a href="../comunicados/">
                            <button type="button" class="btn btn-success btn-sm">
                                <i class="far fa-calendar-check"></i> Comunicados
                            </button>
                        </a>
                    </li>

                    <li>
                        <a href="../Inicio/">
                            <button type="button" class="btn btn-success btn-sm">
                                <i class="fas fa-sign-out-alt"></i> Cerrar Sesión
                            </button>
                        </a>
                    </li>
                    <div class="perfil">
                        <a href='../perfil/'>
                            <strong><span class="perfil-user">Bienvenido {{request.user | upper}}</span></strong>
                        </a>
                    </div>
                </ul>
            </nav>
        </div>

    </header>
    <main class="main">
        <div class="container">
            <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%2333B679&amp;ctz=America%2FSantiago&amp;src=c2RhNHBubmQ0YmxzbTJzMzZ0MGUyN28xajBAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23F4511E&amp;showTabs=0&amp;mode=AGENDA&amp;showPrint=0&amp;showCalendars=0&amp;showTz=0&amp;showDate=0&amp;showNav=0&amp;showTitle=1&amp;title=Pr%C3%B3ximas%20Reuniones" style="border:solid 4px #777" width="800" height="600" frameborder="1" scrolling="no"></iframe>
            <a class="twitter-timeline" data-height="500" data-width="400" left="200px" data-theme="light" href="https://twitter.com/fundcolunga?ref_src=twsrc%5Etfw">Tweets por fundcolunga</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            <!--<div id="tabla">
        <table >
            <thead>
                <tr>
                    <th>&nbsp;Próximas reuniones</th>
                </tr>
            </thead>
            <tr>
                <td><strong>Lunes 03/05</strong><br>“Escuchar hasta comprender”: Una charla introductoria para la resolución de conflictos</td>
            </tr>
            <tr>
                <td><strong>Miércoles 05/05</strong><br>“Pandemia y sociedad civil: desafíos comunicacionales”</td>
            </tr>
            <tr>
                <td><strong>Viernes 14/05</strong><br>“¿Cómo mantener vínculos significativos en tiempos de crisis?”</td>
            </tr>

        </table>

    </div>-->
        </div>
    </main>
    
</body>
</html>