{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{% static 'css/icomoon/style.css'%}" rel="stylesheet" />
    <link href="/static/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/bootstrap.css">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador</title>
    <link href="{% static 'css/logeadoADMIN.css'%}" rel="stylesheet" />
</head>
<body>
    <div class= "social-bar">
        <a href="https://www.facebook.com/fundacioncolunga/" class="icon icon-facebook2" target="_blank"></a>
        <a href="https://www.instagram.com/fundacioncolunga/?hl=es" class="icon icon-instagram" target="_blank"></a>
        <a href="https://twitter.com/fundcolunga?s=20" class="icon icon-twitter" target="_blank"></a>
        <a href="https://cl.linkedin.com/company/fundaci%C3%B3n-colunga" class="icon icon-linkedin" target="_blank"></a>
    </div>
    <header class="header">
        <div class="container logo-nav-container">
            <div class="logo-col">
                <a href="https://www.fundacioncolunga.org/" class="logo">
                    <img src="{% static 'img/logo1.png'%}" alt="my-img" class="imagen-col">
                </a>
            </div>
            <nav class="navegacion">
                <ul class="show">
                    <li ><a href="../registro/">
                            <button type="button" class="btn btn-success btn-sm">
                                <i class="fas fa-user-plus" ></i></i> Registro
                            </button>
                        </a>
                     </li>        

                    <li>
                        <a href="../organizacionesADMIN/">
                            <button type="button" class="btn btn-success btn-sm">
                                <i class="fas fa-users"></i></i> Organizaciones
                            </button>
                        </a>
                    </li>
                    <li>
                        <a href="../edit_profile/">
                            <button type="button" class="btn btn-success btn-sm">
                                <i class="fas fa-users"></i></i> Editar Perfil
                            </button>
                        </a>
                    </li>
                    <li ><a href="../planificadorADMIN/">
                            <button type="button" class="btn btn-success btn-sm">
                                <i class="far fa-calendar" ></i></i> Planificador
                            </button>
                        </a>
                    </li>   
                    
                    <li>
                        <a href="../">
                            <button type="button" class="btn btn-success btn-sm">
                                <i class="fas fa-sign-out-alt"></i> Cerrar Sesión
                            </button>
                        </a>
                    </li>
                    <div class="perfil">
                        <a href='../perfil/'>
                            <strong><span class="perfil-user">Bienvenido Administrador {{request.user | upper}}</span></strong>
                        </a>
                    </div>
                </ul>
            </nav>
        </div>

    </header>
    <main class="main">
        <div class="container">
            <div class="logo-mail">
                <a href="https://accounts.google.com/AccountChooser/signinchooser?service=mail&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&flowName=GlifWebSignIn&flowEntry=AccountChooser" target="_blank" class="logo">
                    <img src="{% static 'img/GMAIL.png'%}" alt="my-img" class="imagen-mail">
                </a>
            </div>
        </div>
    </main>
    
</body>
</html>