
{%load static%}


<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/static/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/bootstrap.css">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Organizaciones</title>
    <link href="{% static 'css/organizaciones.css'%}" rel="stylesheet" />
</head>
<body>

    <div class= "social-bar">
        <a href="https://www.facebook.com/fundacioncolunga/" class="icon icon-facebook2" target="_blank"></a>
        <a href="https://www.instagram.com/fundacioncolunga/?hl=es" class="icon icon-instagram" target="_blank"></a>
        <a href="https://twitter.com/fundcolunga?s=20" class="icon icon-twitter" target="_blank"></a>
        <a href="https://cl.linkedin.com/company/fundaci%C3%B3n-colunga" class="icon icon-linkedin" target="_blank"></a>
    </div>
    <header>
        <img src="{% static 'img/logo1.png'%}" alt="my image">
    
        <nav>
            
            <ul>
                
                <li>
                    
                    <a href="../login-admin/">
                        <button type="button" class="btn btn-success btn-lg">
                            <i class="fas fa-angle-right"></i> Volver
                        </button>
                    </a> 
                </li> 
            </ul>
        </nav>
        <nav class="titulo-up">
            <td><strong><center><span class="titlo">Organizaciones Afiliadas</center></span></strong></td>
        </nav>

        

    
    </header>
    <main class="main">
        <div class="container">
            <div id="fb-root"></div>
            <div class="container">
                <div class="row">
                  <div class="col-4">
                        <a href="https://fundacion99.org">
                            <img src="{% static 'img/fundacion99.png'%}" alt="my-img">
                        </a>
                  </div>
                  <div class="col-4">
                        <a href="https://educacion2020.cl/">
                            <img src="{% static 'img/33.png'%}" alt="my-img">
                        </a>
                  </div>
                  <div class="col-4">
                        <a href="https://infanciaprimero.org/">
                            <img src="{% static 'img/34.png'%}" alt="my-img">
                        </a>
                  </div>
                  <div class="col-4">
                    <a href="https://isf-chile.org/">
                        <img src="{% static 'img/35.png'%}" alt="my-img">
                    </a>
                  </div>
                  <div class="col-4">
                    <a href="https://hphchile.cl/">
                        <img src="{% static 'img/36.png'%}" alt="my-img">
                    </a>
                  </div>
                  <div class="col-4">
                    <a href="https://www.gi-escr.org/">
                        <img src="{% static 'img/37.png'%}" alt="my-img">
                    </a>
                  </div>
                  <div class="col-4">
                    <a href="http://www.cideni.org/">
                        <img src="{% static 'img/2.png'%}" alt="my-img">
                    </a>
                  </div>
                  <div class="col-4">
                    <a href="https://www.gi-escr.org/">
                        <img src="{% static 'img/4.png'%}" alt="my-img">
                    </a>
                  </div>
                  <div class="col-4">
                    <a href="https://fipi.cl/">
                        <img src="{% static 'img/5.png'%}" alt="my-img">
                    </a>
                  </div>
                  <div class="col-4">
                    <a href="https://www.iguales.cl/">
                        <img src="{% static 'img/6.png'%}" alt="my-img">
                    </a>
                  </div>
                  <div class="col-4">
                    <a href="https://www.interpreta.org/">
                        <img src="{% static 'img/7.png'%}" alt="my-img">
                    </a>
                  </div>
                  <div class="col-4">
                    <a href="https://mistalentos.cl/">
                        <img src="{% static 'img/8.png'%}" alt="my-img">
                    </a>
                  </div>

                </div>
              </div>

        </div>
    </main>
</body>
</html>


