{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/static/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/bootstrap.css">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/organizacionesADMIN.css'%}" rel="stylesheet" />
</head>
<body>
    <header>
        <img src="{% static 'img/logo1.png'%}" alt="my image">
        <nav>
            <ul>
                <li>
                    <a href="../logeadoADMIN/">
                        <button type="button" class="btn btn-success btn-lg">
                            <i class="fas fa-angle-right"></i> Volver
                        </button>
                    </a> 
                </li> 
            </ul>
        </nav>
    </header>
</body>
</html>