{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/static/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/bootstrap.css">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Organizaciones</title>
    <link href="{% static 'css/organizaciones.css'%}" rel="stylesheet" />
</head>
<body>
    <div class= "social-bar">
        <a href="https://www.facebook.com/fundacioncolunga/" class="icon icon-facebook2" target="_blank"></a>
        <a href="https://www.instagram.com/fundacioncolunga/?hl=es" class="icon icon-instagram" target="_blank"></a>
        <a href="https://twitter.com/fundcolunga?s=20" class="icon icon-twitter" target="_blank"></a>
        <a href="https://cl.linkedin.com/company/fundaci%C3%B3n-colunga" class="icon icon-linkedin" target="_blank"></a>
    </div>
    <header>
        <img src="{% static 'img/logo1.png'%}" alt="my image">
        <nav>
            <ul>
                <li>
                    <a href="../logeado/">
                        <button type="button" class="btn btn-success btn-lg">
                            <i class="fas fa-angle-right"></i> Volver
                        </button>
                    </a> 
                </li> 
            </ul>
        </nav>
        <strong><span class="organizaciones">Nuestros afiliados</span></strong>
    </header>
    <main class="main">
        <div class="container">
            <div class="row">
                <div class="col">
                    <a href="https://fundacionluksic.cl/">
                        <img class="logo" src="{% static 'img/logo-Luksic.png'%}" alt="Fundación Luksic" style="width:400px;">
                    </a>
                </div>
                <div class="col">
                    <a href="http://www.fundacionilumina.cl/">
                        <img class="logo" src="{% static 'img/logo-ilumina.png'%}" alt="Fundación Ilumina" style="max-width:400px;">
                    </a>
                </div>
                <div class="col">
                    <a href="https://www.olivo.org/">
                        <img class="logo" src="{% static 'img/logo-Olivo.png'%}" alt="Fundación Ilumina" style="max-width:400px;">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a href="https://www.bhp.com/sustainability/community/bhp-foundation/bhp-foundation/chile/">
                        <img class="logo" src="{% static 'img/logo-BHP.png'%}" alt="BHP Foundation" style="max-width:400px;">
                    </a>
                </div>
                <div class="col">
                    <a href="https://www.corfo.cl/sites/cpp/homecorfo">
                        <img class="logo" src="{% static 'img/logo-Corfo.png'%}" alt="Corfo" style="max-width:400px;">
                    </a>
                </div>
                <div class="col">
                    <a href="http://www.probono.cl/">
                        <img class="logo" src="{% static 'img/logo-probono.png'%}" alt="Fundación Pro Bono" style="max-width:400px;">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a href="https://www.fundacionmustakis.org/">
                        <img class="logo" src="{% static 'img/logo-Mustakis.png'%}" alt="Fundación Mustakis" style="max-width:400px;">
                    </a>
                </div>
                <div class="col">
                    <a href="https://www.pwc.com/cl/es.html">
                        <img class="logo" src="{% static 'img/logo-pwc.png'%}" alt="PwC Chile" style="width:400px;">
                    </a>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
