{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/static/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/bootstrap-theme.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Colunga</title>
    <link href="{% static 'css/perfil.css'%}" rel="stylesheet" />

</head>
<body>
    <header>
        <img src="{% static 'img/logo1.png'%}" alt="my image">
        <nav>
            <ul>
                <li>

                    <a href="../logeado/">
                        <button type="button" class="btn btn-success btn-lg">
                            <i class="fas fa-angle-right"></i> Volver
                        </button>
                    </a>
                    
                </li> 
            </ul>
        </nav>
    </header>
    <script src="/static/js/bootstrap.js"></script>
    <div class="titulo">
        <div>Perfil de usuario</div>
    </div>
    <div class="informacion_perfil">
        <div>Nombre de Usuario: {{request.user}}</div>
        <div>Nombre: {{request.user.first_name}}</div>
        <div>Apellido: {{request.user.last_name}}</div>
        <div>Apellido: {{request.user.email}}</div>
    </div>
</body>
</html>