{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/static/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendario</title>
    <link href="{% static 'css/calendarios.css'%}" rel="stylesheet" />
</head>

<body>
    <header>
        <header>
                
            <img src="{% static 'img/logo1.png'%}" alt="my image">
            
            <nav>
                <ul>
                    <li>
                        <a href="https://calendar.google.com/calendar/u/1/r?tab=mc&pli=1">
                            <button type="button" class="btn btn-success btn-lg">
                                <i class="fas fa-calendar-plus"></i>     Crear reunión
                            </button>
                        </a>
    
                        <a href="../login-admin/">
                            <button type="button" class="btn btn-success btn-lg">
                                <i class="fas fa-angle-right"></i> Volver
                            </button>
                        </a>
                        
                        
                    </li> 
                </ul>
            </nav>
            <td><strong><span class="calendario">Calendario</span></strong><br></td>
        </header>
        <script src="/static/js/bootstrap.js"></script>
        
    
    <p><center><iframe class = "calend"  src="https://calendar.google.com/calendar/embed?height=785&amp;wkst=2&amp;bgcolor=%2333B679&amp;ctz=America%2FSantiago&amp;src=Y29sdW5nYS5wYWdpbmFAZ21haWwuY29t&amp;color=%23039BE5&amp;showNav=1&amp;showPrint=0&amp;showDate=1&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0" style="border:solid 1px #777" width="1800" height="785" frameborder="0" scrolling="no"></iframe></center></p>
</header>
</body>
</html>