{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/static/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/bootstrap-theme.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Colunga</title>
    <link href="{% static 'css/estilos.css'%}" rel="stylesheet" />
</head>
<body>
    <header>
        <a href="https://www.fundacioncolunga.org/">
            <img src="{% static 'img/logo1.png'%}" alt="my image">
        </a>
        <nav>
            <ul>
                <li><a href="../../Inicio/">
                    <button type="button" class="btn btn-success btn-lg">
                        <i class="far fa-arrow-alt-circle-left"></i> Volver
                    </button>
                </a>
                </li>

            </ul>
        </nav>
    </header>
    <script src="/static/js/bootstrap.js"></script>
    <div class="contenedor">
        <img class="logo-log" src="{% static 'img/avatar-colunga.png'%}" alt="my image" width="200" height="120">
    </div>
    <section class="form-login">
      {% load crispy_forms_tags %}
      <h2>Registrar</h2>
        <form method="post">
          {% csrf_token %}
          {{ form | crispy }}
          <input type="submit" value="Registrar" class="btn btn-success">
        </form>
    </section>
</body>
</html>


