img{
    
    margin-top: 10px; /*margen de arriba*/
    margin-left: 10px;
    width: 120px; /*tamaño de la imagen*/
}
li{
    /*float: left;  si tuviera mas botones que volver los pondria a todos en fila hacia la izquierda*/
    list-style: none;
    padding: 10px;

}
nav{
    margin-right: 20px;
    margin-top: 40px;
    float: right;
    font-size: 10px;
}
a{
    text-decoration: none;
    font-size: 29px;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(0, 0, 0);
}
li:hover a{
    color:aqua;
}

body{
    background-image: url(../img/img4.jpg);
    background-position: 0% 150px; /*posicion de la imagen en x (0 si no la quieres mover) y*/
    background-size: 100% 100%; /*ajusta la imagen a tamaño completo de la pagina*/
    background-repeat: no-repeat; /*para que la imagen no se repita continuamente rellando los espacios vacios*/
    background-attachment: fixed; /*para que la imagen quede fija, incluso si hago scroll hacia abajo se mantenga siempre visible*/
}
.container{
    width: 80%;
    max-width: 2000px;
    margin:5;
}

*{  /*controles generales*/
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.social-bar{
    position: fixed;
    right: 0;
    top: 35%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 100;
}

.icon{
    color: white;
    text-decoration: none;
    padding: .7rem;
    display: flex;
    transition:all .5s;

}

.icon-facebook2{
    background: #2E406E;
}

.icon-instagram{
    background: #964692;
}

.icon-twitter{
    background: #5f7dc9;
}

.icon-linkedin{
    background: #252c3d;
}

.icon:first-child{
    border-radius: 1rem 0 0 0;
}

.icon:last-child{
    border-radius: 0 0 0 1rem;
}

.icon:hover{
    padding-right: 3rem;
    border-radius: 1rem 0 0 1rem;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
}
.row{
    margin-top: 30px;
}
@media only screen and (max-width: 1400px){
        .row{
            display: block;
        }
        body{
            background-position: 0% 0%;
        }
        .col-4{
            padding-top: 10px;
        }

}