img{
    margin-top: 10px; /*margen de arriba*/
    margin-left: 10px;
    width: 120px; /*tamaño de la imagen*/
}
li{/*botones*/
    /*float: left;  si tuviera mas botones que volver los pondria a todos en fila hacia la izquierda*/
    list-style: none;
}
nav{
    margin-right: 70px;
    margin-top: 100px;
    float: right;
}
a{
    text-decoration: none;
    font-size: 29px;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(0, 0, 0);
}
li:hover a{
    color:aqua;
}
body{
    background-image: url(../img/Fondo.jpg);
    background-position: 0% 150px; /*posicion de la imagen en x (0 si no la quieres mover) y*/
    background-size: 100% 100%; /*ajusta la imagen a tamaño completo de la pagina*/
    background-repeat: no-repeat; /*para que la imagen no se repita continuamente rellando los espacios vacios*/
    background-attachment: fixed; /*para que la imagen quede fija, incluso si hago scroll hacia abajo se mantenga siempre visible*/
}
*{  /*controles generales*/
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.form-login{ /*para la ventana login, tomado de registro*/ 
    width: 660px;
    height: 70%;
    background: rgb(23, 160, 41);
    margin: auto;
    margin-top: 5%;
    box-shadow: 7px 13px 37px #000;
    padding:20px 30px;
    border-top:4px solid rgb(0, 255, 0);
}
.form-login h5{  /*para la ventana de login, tomado de registro*/
    margin: 0;
    text-align: center;
    height: 40px;
    margin:auto;
    font-size: 20px;
}
.controls{ /*controles para ventana login*/
    width: -10%;
    border: 1px solid rgb(1, 255, 1);
    margin-bottom: 15px;
    padding: 11px 10px;
    background: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
    text-align:center;
}
.buttons{
    width: 50%;
    height: 40px;
    margin-left: 22%;
    background: rgb(177, 170, 170);
    margin-top: 10%;
    box-shadow: 0px 2px 20px #000;

}
.contenedor{
    width: 100%;
    text-align: center;
    
    margin-top: -8%;
}
.logo-log{
    max-width: 100%;
    margin-left: 180px;
    
}

.img-login{
    width: 1%;
    text-align:left;
}
.tabla{
    font-size: 20px;
    font-weight: bold;
    text-align:center;
    width: auto;
}
.messages{
    background: rgb(255, 253, 253);
    text-align: center;
    width: 70%;
}