img{
    
    margin-top: 10px; /*margen de arriba*/
    margin-left: 10px;
     /*tamaño de la imagen*/
}
li{
    /*float: left;  si tuviera mas botones que volver los pondria a todos en fila hacia la izquierda*/
    list-style: none;
    padding: 10px;

}
nav{
    margin-right: 20px;
    margin-top: 80px;
    float: right;
    font-size: 10px;
}
a{
    text-decoration: none;
    font-size: 29px;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(0, 0, 0);
}
li:hover a{
    color:aqua;
}

body{
    background-image: url(../img/fondo3.png);
    background-position: 0% 150px; /*posicion de la imagen en x (0 si no la quieres mover) y*/
    background-size: 100% 100%; /*ajusta la imagen a tamaño completo de la pagina*/
    background-repeat: no-repeat; /*para que la imagen no se repita continuamente rellando los espacios vacios*/
    background-attachment: fixed; /*para que la imagen quede fija, incluso si hago scroll hacia abajo se mantenga siempre visible*/
}

*{  /*controles generales*/
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

#tabla{
    width: 600px;
    margin: 100px auto;
    margin-left: 100px;
    
}
#tabla2{
    width: 600px;
    margin: -570px auto;
    margin-right: 200px;
    
}

table{
    background-color: aliceblue;
    text-align: left;
    border-collapse:separate;
    border-radius: 10px;
    width: 100%;
    
}
th, td{
    padding:10px;
}
th{
    border: solid 4px rgb(0, 255, 34);
    border-radius: 10px;
    color:black;
    font-size: 28px;

}

td{
    border: solid 0px greenyellow;
    font-size: 25px;
    
}

thead{
    background-color: rgb(255, 255, 255);
    border-bottom: solid 3px #000;
    color: white;
    
}

tr:nth-child(even){
    background-color: #ddd;
}

tr:hover td{
    background-color: yellowgreen;
    color: white;
}

.noticia1{
    height: 200px;
}