img{
    margin-top: 10px; /*margen de arriba*/
    margin-left: 10px;
    width: 120px; /*tamaño de la imagen*/
}
li{
    list-style: none;
    padding: 10px;
}
nav{
    margin-right: 20px;
    margin-top: 40px;
    float: right;
    font-size: 10px;
}
a{
    text-decoration: none;
    font-size: 29px;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(0, 0, 0);
}
li:hover a{
    color:aqua;
}
body{
    background-image: url(../img/img10.jpg);
    background-position: 0% 150px; /*posicion de la imagen en x (0 si no la quieres mover) y*/
    background-size: 100% 100%; /*ajusta la imagen a tamaño completo de la pagina*/
    background-repeat: no-repeat; /*para que la imagen no se repita continuamente rellando los espacios vacios*/
    background-attachment: fixed; /*para que la imagen quede fija, incluso si hago scroll hacia abajo se mantenga siempre visible*/
}
.titlo{
    font-size: 50px;
}
.titulo-up{
    margin-right: 500px;
}
.main img{
    border-radius: 10px;
    border-style: solid;
    background-color: aliceblue;
    width: 170px;
}

@media only screen and (max-width: 1400px){
    .titlo{
        font-size: 30px;
    }
    .main img{
        width: 120px;
    }
    .titulo-up{
        margin-right: 200px;
        background-color: white;
    }
}