<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Colunga</title>
</head>
<body>
    <p>Primera escritura en HTML </p> <!-- comando p para escritura de parrafos-->
    <h1>Este es un titulo </h1> <!-- h1 es para escribir un titulo grande y en negrita que puede ser editado con css-->
    <!-- si escribir a se generará un ancla el cual es un enlace-->
    <a href="">Este es un enlace</a>  <!-- href es un atributo dentro de una etiqueta y el href sirve para poner un link-->
    <div> <!-- divisiones-->
        <p>Este es un encabezado distinto</p> <!-- por que hay 6 tipos de encabezados distintos -->
        <p>Todo esto esta dentro del div</p>

    </div>
</body>
</html>