{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/static/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/bootstrap-theme.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Colunga</title>
    <link href="{% static 'css/estilos.css'%}" rel="stylesheet" />
</head>
<body>
    <header>
        <a href="https://www.fundacioncolunga.org/">
            <img class="colunga-log" src="{% static 'img/logo1.png'%}" alt="my image">
        </a>
        <nav>
            <ul>
                <li>
                
                    <a href="../../Inicio/">
                    <button type="button" class="btn btn-success btn-lg">
                        <i class="far fa-arrow-alt-circle-left"></i> Volver
                    </button>
                </a>
                
                </li>

            </ul>
        </nav>
    </header>
    <script src="/static/js/bootstrap.js"></script>
    <div class="contenedor">
        <img class="logo-log" src="{% static 'img/avatar-colunga.png'%}" alt="my image" width="200" height="120">
    </div>
    <section class="form-login">

        <form method="POST">
            {% csrf_token%}
            {% if request.method == 'POST' %} 
            {% if form.error_messages %}
            
                    <div class="alert alert-danger alert-dismissible" role="alert" >
                        <button type="button" class="close" data-dismiss = "alert" aria-hidden="true">&times;
                        </button>
                        <strong>Error:</strong> Porfavor introduzca un nombre de usuario y/o contraseña correctos. 
                    </div>  
            {% endif %}
            {% endif %}
            <h5>Formulario Login</h5>
  
                <div class="username" >
                    <img class="col-per" src="{% static 'img/Icono-persona.png'%}" alt="my image">
                    <input class="controls" type="text" name="username" value="" placeholder="Usuario">
                </div>
                <div>
                    <img class="col-per" src="{% static 'img/candado.png'%}" alt="my image">
                    <input class="controls" type="password" name="password" value="" placeholder="Contraseña">
                </div>
                <input class="buttons" type="submit" name="" value="Login"> 
            
     
    </section>
</body>
</html>